<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title></title>
</head>
<body>
<div class="print-format  landscape ">
   <center><b><h2>Athlete's Report List</h2></b></center>
   <table class="table table-bordered">
      <thead>
         <tr>
            <th>     First Name</th>
            <th>     Middle Name</th>
            <th>     Last Name</th>
            <th>     Sports</th>
            <th>     Start Date</th>
            <th>     End Date</th>
            <th>     No of Games</th>
         </tr>
      </thead>
      <tbody>

      {% for(var i=0, l=data.length; i<l; i++) { %}

         <tr style="height: 30px">

            <td>{%=data[i]['first_name'] %}</td>
            <td>{%=data[i]['middle_name'] %}</td>
            <td>{%=data[i]['last_name'] %}</td>
            <td>{%=data[i]['sports'] %}</td>
            <td>{%=data[i]['start_date'] %}</td>
            <td>{%=data[i]['end_date'] %}</td>
            <td>{%=data[i]['no_of_games'] %}</td>

         </tr>
        {% } %}
      </tbody>
   </table>
</div>

</body>
</html>


